
Callibration & tests/Photos/11.06 - PCB Soldering and testing (4).JPG
Callibration & tests/Photos/11.06 - PCB Soldering and testing (5).JPG
Callibration & tests/Photos/11.06 - PCB Soldering and testing (6).JPG
